@mixin btns {
    max-width: 290px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-family: 'Montserrat arm';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 129%;
    color: #E84545;
    border: 2px solid #E84545;
}

.registration-page {
    form {
        max-width: 700px;
        width: 100%;
        background-color: #F9F9F9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        padding: 30px 50px;
        margin: 55px auto;
        .title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 32px;
            font-style: normal;
            line-height: 39px;
            color: #111111;
            @media screen and (max-width: 590px) {
                font-size: 28px;                
            }

            @media screen and (max-width: 455px) {
                font-size: 25px;                
            }

            @media screen and (max-width: 375px) {
                font-size: 22px;                
            }

            @media screen and (max-width: 320px) {
                font-size: 18px;                
            }
        }

        .sub-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 18px;
            font-style: normal;
            line-height: 22px;
            color: #4D4D4D;
            margin: 15px 0 ;

            @media screen and (max-width: 590px) {
                font-size: 15px;                
            }

            @media screen and (max-width: 455px) {
                font-size: 15px;                
            }

            @media screen and (max-width: 320px) {
                font-size: 13px;                
            }
        }

        .btns {
            .type-btn {
                @include btns;

                @media screen and (max-width: 590px) {
                    font-size: 18px;                
                }
    
                @media screen and (max-width: 540px) {
                    font-size: 15px;                
                }
            }

            .type-btn.active {
                color: white;
                background: #E84545;                
            }

            @media screen and (max-width: 455px) {
                padding: 2px;
            }

        }

        .inputs {
            margin-top: 10px;
            
            input {
                margin: 10px 0;
                width: 100%;
                height: 48px;
                border-radius: 3px;
                background-color: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.3);
                outline: none;
                padding: 0 20px;
            }
        }

        @media screen and (max-width: 590px) {
            padding: 30px;       
        }

        @media screen and (max-width: 395px) {
            padding: 30px 20px;       
        }
    }
}

